In [15]:
## Deliverable 2. Create a Customer Travel Destinations Map.
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np 

# Import API key
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key = g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City ID,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Country,Weather description
0,0,Beyneu,45.3167,55.2000,54.70,55,14,22.53,KZ,few clouds
1,1,Albany,42.6001,-73.9662,50.95,48,99,1.01,US,overcast clouds
2,2,Mahebourg,-20.4081,57.7000,79.25,83,75,9.22,MU,broken clouds
3,3,Nemuro,43.3236,145.5750,37.27,86,1,14.36,JP,clear sky
4,4,Ushuaia,-54.8000,-68.3000,40.66,65,40,18.41,AR,scattered clouds

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 77
What is the maximum temperature you would like for your trip? 100

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_vacation_df = city_data_df.loc[(city_data_df['Max_Temp']<= max_temp)&
                                        (city_data_df['Max_Temp']>= min_temp)]
preferred_vacation_df.head()

,City ID,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Country,Weather description
2,2,Mahebourg,-20.4081,57.7000,79.25,83,75,9.22,MU,broken clouds
7,7,Omboue,-1.5746,9.2618,78.19,88,13,5.14,GA,few clouds
13,13,Kutum,14.2000,24.6667,82.20,10,8,5.84,SD,clear sky
14,14,Arraial Do Cabo,-22.9661,-42.0278,85.96,74,0,14.97,BR,clear sky
17,17,Fonte Boa,-2.4959,-66.2662,81.54,89,53,0.47,BR,broken clouds

In [19]:
# 4a. Determine if there are any empty rows.
preferred_vacation_df.count()

City ID                222
City                   222
Lat                    222
Lng                    222
Max_Temp               222
Humidity               222
Cloudiness             222
Wind Speed             222
Country                222
Weather description    222
dtype: int64

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_vacation_df[["City", "Country", "Max_Temp", "Weather description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max_Temp,Weather description,Lat,Lng,Hotel Name
2,Mahebourg,MU,79.25,broken clouds,-20.4081,57.7000,
7,Omboue,GA,78.19,few clouds,-1.5746,9.2618,
13,Kutum,SD,82.20,clear sky,14.2000,24.6667,
14,Arraial Do Cabo,BR,85.96,clear sky,-22.9661,-42.0278,
17,Fonte Boa,BR,81.54,broken clouds,-2.4959,-66.2662,
19,Butaritari,KI,81.59,scattered clouds,3.0707,172.7902,
27,Rikitea,PF,77.76,clear sky,-23.1203,-134.9692,
28,Sabla,NG,93.97,overcast clouds,12.7525,4.7077,
29,Avarua,CK,78.85,overcast clouds,-21.2078,-159.7750,
38,Atuona,PF,79.34,clear sky,-9.8000,-139.0333,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows(): 
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()

# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except(IndexError): 
        print("Hotel not found. Skipping....")

hotel_df.head(10)

Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....
Hotel not found. Skipping....

,City,Country,Max_Temp,Weather description,Lat,Lng,Hotel Name
2,Mahebourg,MU,79.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Omboue,GA,78.19,few clouds,-1.5746,9.2618,Hotel Olako
13,Kutum,SD,82.20,clear sky,14.2000,24.6667,Dibbo areaمنطقة دبو
14,Arraial Do Cabo,BR,85.96,clear sky,-22.9661,-42.0278,Pousada Porto Praia
17,Fonte Boa,BR,81.54,broken clouds,-2.4959,-66.2662,
19,Butaritari,KI,81.59,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
27,Rikitea,PF,77.76,clear sky,-23.1203,-134.9692,People ThankYou
28,Sabla,NG,93.97,overcast clouds,12.7525,4.7077,
29,Avarua,CK,78.85,overcast clouds,-21.2078,-159.7750,Paradise Inn
38,Atuona,PF,79.34,clear sky,-9.8000,-139.0333,Villa Enata

In [31]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!= ""]
hotel_df.head(10)

,City,Country,Max_Temp,Weather description,Lat,Lng,Hotel Name
2,Mahebourg,MU,79.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Omboue,GA,78.19,few clouds,-1.5746,9.2618,Hotel Olako
13,Kutum,SD,82.20,clear sky,14.2000,24.6667,Dibbo areaمنطقة دبو
14,Arraial Do Cabo,BR,85.96,clear sky,-22.9661,-42.0278,Pousada Porto Praia
19,Butaritari,KI,81.59,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
27,Rikitea,PF,77.76,clear sky,-23.1203,-134.9692,People ThankYou
29,Avarua,CK,78.85,overcast clouds,-21.2078,-159.7750,Paradise Inn
38,Atuona,PF,79.34,clear sky,-9.8000,-139.0333,Villa Enata
46,Hithadhoo,MV,83.41,scattered clouds,-0.6000,73.0833,Scoop Guest House
51,Kavaratti,IN,82.29,broken clouds,10.5669,72.6420,Hotels in Lakshadweep Islands

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_hotels.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
    <dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Max Temp</dt><dd>{Max_Temp} °F</dd>
    <dt>Weather Description</dt><dd>{Weather description}</dd>
    </dl>
    """

In [40]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))